h1, h2 {
    color: #A5B4FC;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    text-align: center;
}

 p {
    color: rgb(95, 91, 90);
    font-family: 'Manrope', sans-serif;
    font-size:1.1em;

    
}

.parag {
    color: #a5b4fc(249, 6, 30);
    font-family: 'Roboto', sans-serif;
}


a {
    font-family: 'Manrope', sans-serif;
    font-size:1em;
    color: #a5b4fc;
    text-decoration: none;
}
li {
    font-family: 'Manrope', sans-serif;
    font-size:1em;
    color: #a5b4fc;
    text-decoration: none;
}
em {
    color: #A5B4FC;
}